@import 'tailwindcss';
@import './theme.css';
@variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --color-brand-x: oklch(32.87% 0.1235 262.39);
        --color-brand-y: oklch(66.38% 0.1751 273.13);
        --color-base-x: oklch(from black l c h);
        /* --color-base-y: oklch(90.6% 0.0117 264.51); */
        /* --color-base-x: oklch(1 0 0); */
        --color-base-y: oklch(1 0 0);
        --color-surface: oklch(100% 0 0);
    }

    .dark {
        --color-brand-x: oklch(from white l c h);
        --color-brand-y: oklch(from white l c h);
        --color-base-x: oklch(from black l c h);
        /* --color-base-y: oklch(18.28% 0.0204 284.2); */
        --color-base-y: oklch(0 0 0);
        --color-surface: oklch(from black l c h);
    }

    @media print {
        .dark {
            --color-brand-x: oklch(32.87% 0.1235 262.39);
            --color-brand-y: oklch(66.38% 0.1751 273.13);
            --color-base-x: oklch(95.78% 0.0058 264.53);
            /* --color-base-y: oklch(90.6% 0.0117 264.51); */
            /* --color-base-x: oklch(1 0 0); */
            --color-base-y: oklch(1 0 0);
            --color-surface: oklch(100% 0 0);
        }
    }
}

@layer components {
    h1, h2, h3, h4, h5, h6{
        @apply font-sans font-bold uppercase;
    }
    h2 {
        @apply text-3xl sm:text-4xl font-bold uppercase text-brand-y;
    }

}
