@theme{
    --font-sans: "Phudu", system-ui;
    --font-body: "Open Sans", sans-serif;

    --color-* : initial;
    --color-brand-x: var(--color-brand-x);
    --color-brand-y: var(--color-brand-y);
    --color-base-x: var(--color-base-x);
    --color-base-y: var(--color-base-y);
    --color-surface: var(--color-surface);
}
